.button-big {
  width: 60vw;
  height: 15vw;
  border: none;
  background-color: $col-gold;
  border-radius: 50px;
  margin-bottom: 2vh;
  &:hover {
    background-color: $col-dark;
  }
  @include size('md') {
    width: 40vw;
  height: 10vw;
  }
  @include size('lg') {
    width: 30vw;
  height: 8vw;
  }
  @include size('lg') {
    width: 20vw;
  height: 6vw;
  }

  &__link {
    font-size: 4vw;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    @include size('md') {
      font-size: 3vw;
    }
    @include size('lg') {
      font-size: 2vw;
    }
    @include size('lg') {
      font-size: 1.5vw;
    }
  }
  &--contact {
    margin-top: 5vw;
  }
}