.header {
  position: relative;
  background-image: url('/img/sand-tile.png');
  display: flex;
  flex-direction: column;
  
  &__nav {
    position:fixed;
    top: 5vw;
    right: 5vw;
    font-size: 12vw;
    color: $col-dark;
  }

  &__contact {
    margin: 50px 0 0 30px;
    font-size: 11vw;
    color: $col-dark;
    z-index: 1;
    @include size('md') {
      font-size: 7vw;
      margin: 50px 0 0 50px;
    }
    @include size('lg') {
      position: absolute;
      margin: 0;
      top: 50px;
      right: 50px;
      font-size: 5vw;
    }

    @include size('xl') {
      font-size: 4vw;
    }
  }   
    &__contact-box {
    display:flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
    &__contact-link {
    font-size: .5em;
    padding-left: 10px;
    text-decoration: none;
    color: $col-dark;
    &:hover {
      color: $col-gold;
    }
  }
  
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $col-dark;
  }

  &__logo {
    text-align: center;
  }
  &__logo-img {
    position: relative;
    width: 85vw;
    top: -10vw;
    @include size('md') {
      width: 65vw;
    }
    @include size('lg') {
      width: 40vw;
      top:0;
      margin-top: 5vw;
    }
    @include size('xl') {
      width: 30vw;
      top:0;
      margin-top: 5vw;
    }
  }

  &__title {
    font-size: 6vw;
    margin-bottom: 3vh;
    @include size('md') {
      font-size: 4vw;
    }
    @include size('lg') {
      font-size: 3vw;
    }
    @include size('xl') {
      font-size: 2vw;
    }
    
  }

  &__title-text {
    width: 60vw;
    font-size: 5vw;
    text-align: center;
    margin-bottom: 3vh;
    @include size('md') {
      font-size: 3vw;
    }
    @include size('lg') {
      font-size: 2vw;
    }
    @include size('xl') {
      font-size: 1.5vw;
    }
  }

  &__arrow {
    position: relative;
    font-size: 15vw;
    animation: arrow 2s infinite;
    @include size('md') {
      font-size: 10vw;
    }
    @include size('lg') {
      font-size: 5vw;
      animation: arrow_1024 2s infinite;
    }
    @include size('xl') {
      font-size: 4vw;
    }
  }

  &__img-paprot {
    position: absolute;
    width: 70vw;
    left: -30vw;
    bottom: -20vw;
    @include size('lg') {
      width: 80vw;
      bottom: -18vw;
    }
    @include size('xl') {
      width: 65vw;
      bottom: -15vw;
      left: -20vw;
    }
  }

  &__img-liscie {
    position: absolute;
    width: 62vw;
    right: -40vw;
    bottom: -10vw;
    @include size('lg') {
      width: 42vw;
      right: -20vw;
      bottom: -5vw;
    }
    @include size('xl') {
      width: 35vw;
      right: -15vw;
      bottom: -5vw;
    }
  }

}


@keyframes arrow {
  0% {
    top: -2vw;
  }

  50% {
    
    top: 4vw;
  }

  100% {
    top: -2vw;
  }
}

@keyframes arrow_1024 {
  0% {
    top: 0vw;
  }

  50% {
    
    top: 2vw;
  }

  100% {
    top: 0vw;
  }
}