.price {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vw;
  position: relative;
  margin-bottom: 10vw;

  &__misa {
    position: absolute;
    width: 90%;
    top: -20vw;
    left: 4.5vw;
    z-index: -1;
  }

  &__title {
    position: relative;
    top: 20vw;
    left: -30vw;
    font-size: 7vw;
    font-family: $font-phil;
    margin-bottom: 2vw;
  }

  &__boxes{
    display: flex;
  }

  &__box {
    position: relative;
    font-size: 4.2vw;
    top: 7vw;
    left: -1.5vw;
    width: 28vw;
    text-align: center;
  }

  &__box-icon {
    position: absolute;
    width: 25vw;
    top: 0vw;
    left:1vw;
    z-index: -1;
  }
}