.price {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vw;
  position: relative;
  margin-bottom: 5vw;
  z-index: -1;
  @include size('lg') {
    margin-bottom: -25vw;
  }
  @include size('xl') {
    margin-bottom: -38vw;
  }

  &__misa {
    position: absolute;
    width: 90%;
    top: -20vw;
    left: 4.5vw;
    z-index: -1;
    @include size('lg') {
      width: 80%;
      top: -40vw;
      left: 10vw;
    }
    @include size('xl') {
      width: 60%;
      top: -28vw;
      left: 20vw;
    }
  }

  &__title {
    position: relative;
    top: 20vw;
    left: -30vw;
    font-size: 7vw;
    font-family: $font-phil;
    margin-bottom: 2vw;
    color: $col-dark;
    @include size('lg') {
      top: -4.5vw;
      left: 10vw;
      font-size: 6vw;
    }
    @include size('xl') {
      top: -2vw;
      left: 9vw;
      font-size: 5vw;
    }
  }

  &__boxes{
    display: flex;
  }

  &__box {
    position: relative;
    font-size: 4.2vw;
    top: 7vw;
    left: -1.5vw;
    width: 28vw;
    text-align: center;
    @include size('lg') {
      font-size: 3.5vw;
      top: 6vw;
      left: -10vw;
      width: 25vw;
    }
    @include size('xl') {
      font-size: 2.5vw;
      top: 6vw;
      left: -8.5vw;
      width: 19vw;
    }
  }

  &__box-icon {
    position: absolute;
    width: 25vw;
    top: 0vw;
    left:1vw;
    z-index: -1;
    @include size('lg') {
      width: 22vw;
    }

    @include size('xl') {
      width: 17vw;
    }
  }
}