@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Philosopher:wght@700&display=swap');



$breakpoints: (
  'sm':  ( min-width:  600px ),
  'md': ( min-width:  768px ),
  'lg':  ( min-width: 992px ),
  'xl': ( min-width: 1200px ),
  'xxl': ( min-width: 1440px ),
) !default;

@mixin size($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}


$font-lato: 'Lato', sans-serif;
$font-phil: 'Philosopher', sans-serif;


$col-gold: #A9804A;
$col-dark:  #3A2E20;
$col-green: #9BC1A2;