@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Philosopher:wght@700&display=swap');



$font-lato: 'Lato', sans-serif;
$font-phil: 'Philosopher', sans-serif;


$col-gold: #A9804A;
$col-dark:  #3A2E20;
$col-green: #9BC1A2;