@import 'var';

* {
  margin: 0;
  padding: 0;
  
}

.wrapper {
  max-width: 1920px;
  overflow: hidden;
  font-family: $font-lato;
}

@import 'contact-data';
@import 'button-big';
@import 'header';
@import 'specialization';
@import 'about';
@import 'prices';
@import 'contact';


