@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Philosopher:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1920px;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

.button-big {
  width: 60vw;
  height: 15vw;
  border: none;
  background-color: #A9804A;
  border-radius: 50px;
  margin-bottom: 2vw;
}

.button-big:hover {
  background-color: #3A2E20;
}

@media (min-width: 768px) {
  .button-big {
    width: 40vw;
    height: 10vw;
  }
}

@media (min-width: 992px) {
  .button-big {
    width: 30vw;
    height: 8vw;
  }
}

@media (min-width: 1440px) {
  .button-big {
    width: 20vw;
    height: 6vw;
  }
}

.button-big__link {
  font-size: 4vw;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .button-big__link {
    font-size: 3vw;
  }
}

@media (min-width: 992px) {
  .button-big__link {
    font-size: 2.5vw;
  }
}

@media (min-width: 1440px) {
  .button-big__link {
    font-size: 1.5vw;
  }
}

.button-big--contact {
  margin-top: 5vw;
}

@media (min-width: 992px) {
  .button-big--contact {
    margin-top: 1vw;
  }
}

.header {
  position: relative;
  background-image: url("/img/sand-tile.png");
  display: flex;
  flex-direction: column;
}

.header__nav {
  position: fixed;
  top: 5vw;
  right: 5vw;
  font-size: 12vw;
  color: #3A2E20;
}

.header__contact {
  margin: 50px 0 0 30px;
  font-size: 11vw;
  color: #3A2E20;
  z-index: 1;
}

@media (min-width: 768px) {
  .header__contact {
    font-size: 7vw;
    margin: 50px 0 0 50px;
  }
}

@media (min-width: 992px) {
  .header__contact {
    position: absolute;
    margin: 0;
    top: 50px;
    right: 50px;
    font-size: 5vw;
  }
}

@media (min-width: 1440px) {
  .header__contact {
    font-size: 4vw;
  }
}

.header__contact-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.header__contact-link {
  font-size: .5em;
  padding-left: 10px;
  text-decoration: none;
  color: #3A2E20;
}

.header__contact-link:hover {
  color: #A9804A;
}

.header__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3A2E20;
}

.header__logo {
  text-align: center;
}

.header__logo-img {
  position: relative;
  width: 85vw;
  top: -10vw;
}

@media (min-width: 768px) {
  .header__logo-img {
    width: 65vw;
  }
}

@media (min-width: 992px) {
  .header__logo-img {
    width: 40vw;
    top: 0;
    margin-top: 5vw;
  }
}

@media (min-width: 1440px) {
  .header__logo-img {
    width: 30vw;
    top: 0;
    margin-top: 5vw;
  }
}

.header__title {
  font-size: 6vw;
  margin-bottom: 3vh;
}

@media (min-width: 768px) {
  .header__title {
    font-size: 4vw;
  }
}

@media (min-width: 992px) {
  .header__title {
    font-size: 3vw;
  }
}

@media (min-width: 1440px) {
  .header__title {
    font-size: 2vw;
  }
}

.header__title-text {
  width: 60vw;
  font-size: 5vw;
  text-align: center;
  margin-bottom: 3vh;
}

@media (min-width: 768px) {
  .header__title-text {
    font-size: 3vw;
  }
}

@media (min-width: 992px) {
  .header__title-text {
    font-size: 2vw;
  }
}

@media (min-width: 1440px) {
  .header__title-text {
    font-size: 1.5vw;
  }
}

.header__arrow {
  position: relative;
  font-size: 15vw;
  animation: arrow 2s infinite;
}

@media (min-width: 768px) {
  .header__arrow {
    font-size: 10vw;
  }
}

@media (min-width: 992px) {
  .header__arrow {
    font-size: 5vw;
    animation: arrow_1024 2s infinite;
  }
}

@media (min-width: 1440px) {
  .header__arrow {
    font-size: 4vw;
  }
}

.header__img-paprot {
  position: absolute;
  width: 70vw;
  left: -30vw;
  bottom: -20vw;
}

@media (min-width: 992px) {
  .header__img-paprot {
    width: 80vw;
    bottom: -18vw;
  }
}

@media (min-width: 1440px) {
  .header__img-paprot {
    width: 65vw;
    bottom: -15vw;
    left: -20vw;
  }
}

.header__img-liscie {
  position: absolute;
  width: 62vw;
  right: -40vw;
  bottom: -10vw;
}

@media (min-width: 992px) {
  .header__img-liscie {
    width: 42vw;
    right: -20vw;
    bottom: -5vw;
  }
}

@media (min-width: 1440px) {
  .header__img-liscie {
    width: 35vw;
    right: -15vw;
    bottom: -5vw;
  }
}

@keyframes arrow {
  0% {
    top: -2vw;
  }
  50% {
    top: 4vw;
  }
  100% {
    top: -2vw;
  }
}

@keyframes arrow_1024 {
  0% {
    top: 0vw;
  }
  50% {
    top: 2vw;
  }
  100% {
    top: 0vw;
  }
}

.specialization {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .specialization {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.specialization__title {
  margin-top: 9vw;
  margin-bottom: 5vw;
  font-family: "Philosopher", sans-serif;
  font-size: 8vw;
  color: #3A2E20;
}

@media (min-width: 992px) {
  .specialization__title {
    font-size: 6vw;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .specialization__title {
    font-size: 4vw;
    width: 100%;
    text-align: center;
  }
}

.specialization__article-box {
  position: relative;
  width: 80vw;
  height: 80vw;
  margin-bottom: 5vw;
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .specialization__article-box {
    width: 45vw;
    height: 60vw;
  }
}

@media (min-width: 992px) {
  .specialization__article-box {
    width: 30vw;
    height: 42vw;
  }
}

@media (min-width: 1440px) {
  .specialization__article-box {
    width: 28vw;
    height: 28vw;
  }
}

.specialization__article-box--green {
  background-color: rgba(155, 193, 162, 0.5);
}

.specialization__article-box--gold {
  background-color: rgba(169, 128, 74, 0.5);
}

.specialization__article-box--dark {
  background-color: rgba(58, 46, 32, 0.3);
}

.specialization__article-title {
  padding: 3vw 0;
  width: 95%;
  border-bottom: 2px solid rgba(58, 46, 32, 0.3);
  text-align: center;
  font-size: 6vw;
  font-weight: normal;
}

@media (min-width: 992px) {
  .specialization__article-title {
    font-size: 4vw;
  }
}

@media (min-width: 1440px) {
  .specialization__article-title {
    padding: 1.5vw 0;
    font-size: 3vw;
  }
}

.specialization__article-text {
  width: 95%;
  margin-top: 2vw;
  font-size: 5vw;
}

@media (min-width: 768px) {
  .specialization__article-text {
    font-size: 3vw;
  }
}

@media (min-width: 992px) {
  .specialization__article-text {
    font-size: 2vw;
  }
}

@media (min-width: 1440px) {
  .specialization__article-text {
    font-size: 1.5vw;
  }
}

.specialization__article-btn {
  margin-top: 2vw;
  width: 55vw;
  height: 8vw;
  border: none;
  border-radius: 15px;
  font-size: 5vw;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .specialization__article-btn {
    font-size: 3vw;
    width: 35vw;
    height: 6vw;
    margin-bottom: 3vw;
  }
}

@media (min-width: 992px) {
  .specialization__article-btn {
    font-size: 2vw;
    width: 22vw;
    height: 5vw;
    margin-bottom: 3vw;
  }
}

@media (min-width: 1440px) {
  .specialization__article-btn {
    font-size: 1.5vw;
    width: 18vw;
    margin-bottom: 1.5vw;
  }
}

.specialization__article-btn--green {
  background-color: #9bc1a2;
}

.specialization__article-btn--green:hover {
  background-color: rgba(155, 193, 162, 0.3);
  color: #3A2E20;
}

.specialization__article-btn--gold {
  background-color: #a9804a;
}

.specialization__article-btn--gold:hover {
  background-color: rgba(169, 128, 74, 0.3);
  color: #3A2E20;
}

.specialization__article-btn--dark {
  background-color: #3a2e20;
}

.specialization__article-btn--dark:hover {
  background-color: rgba(58, 46, 32, 0.3);
  color: #3A2E20;
}

.specialization__article-icon {
  position: absolute;
  width: 50%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .specialization__article-icon {
    width: 70%;
  }
}

@media (min-width: 1440px) {
  .specialization__article-icon {
    width: 50%;
  }
}

.about {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 992px) {
  .about {
    justify-content: flex-end;
  }
}

.about__title {
  font-family: "Philosopher", sans-serif;
  font-size: 10vw;
  align-self: flex-end;
  margin-right: 8vw;
  color: #3A2E20;
}

@media (min-width: 992px) {
  .about__title {
    display: none;
  }
}

.about__span {
  display: none;
}

@media (min-width: 992px) {
  .about__span {
    display: block;
    font-family: "Philosopher", sans-serif;
    font-size: 4vw;
  }
}

.about__motto {
  display: none;
}

@media (min-width: 992px) {
  .about__motto {
    display: block;
    width: 54vw;
    margin-top: 2vw;
    margin-left: 6vw;
    font-family: "Philosopher", sans-serif;
    font-size: 4vw;
    color: #A9804A;
  }
}

@media (min-width: 1440px) {
  .about__motto {
    width: 50vw;
  }
}

.about__img-profile {
  width: 40vw;
  height: 100%;
}

@media (min-width: 992px) {
  .about__img-profile {
    width: 25vw;
    margin: 2vw 8vw 0 4vw;
  }
}

@media (min-width: 1440px) {
  .about__img-profile {
    width: 20vw;
    margin: 2vw 12vw 0 4vw;
  }
}

.about__text {
  border-radius: 15px;
  width: 80vw;
  padding: 10px;
  margin-top: 2vw;
  background-image: url("/img/sand-tile.png");
  font-size: 5vw;
}

@media (min-width: 768px) {
  .about__text {
    font-size: 3vw;
    width: 80vw;
  }
}

@media (min-width: 992px) {
  .about__text {
    position: relative;
    top: -15vw;
    right: 30vw;
    font-size: 1.8vw;
    width: 50vw;
    padding: 20px;
  }
}

@media (min-width: 1440px) {
  .about__text {
    font-size: 1.2vw;
    width: 35vw;
    top: -12vw;
  }
}

.about__img-decor {
  position: absolute;
  width: 60vw;
  top: -5vw;
  left: -15vw;
}

@media (min-width: 992px) {
  .about__img-decor {
    width: 40vw;
    top: 20vw;
    left: -20vw;
  }
}

@media (min-width: 1440px) {
  .about__img-decor {
    width: 40vw;
    top: 13vw;
    left: -15vw;
  }
}

.price {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vw;
  position: relative;
  margin-bottom: 5vw;
}

@media (min-width: 992px) {
  .price {
    margin-bottom: -25vw;
  }
}

@media (min-width: 1440px) {
  .price {
    margin-bottom: -38vw;
  }
}

.price__misa {
  position: absolute;
  width: 90%;
  top: -20vw;
  left: 4.5vw;
  z-index: -1;
}

@media (min-width: 992px) {
  .price__misa {
    width: 80%;
    top: -40vw;
    left: 10vw;
  }
}

@media (min-width: 1440px) {
  .price__misa {
    width: 60%;
    top: -28vw;
    left: 20vw;
  }
}

.price__title {
  position: relative;
  top: 20vw;
  left: -30vw;
  font-size: 7vw;
  font-family: "Philosopher", sans-serif;
  margin-bottom: 2vw;
  color: #3A2E20;
}

@media (min-width: 992px) {
  .price__title {
    top: -4.5vw;
    left: 10vw;
    font-size: 6vw;
  }
}

@media (min-width: 1440px) {
  .price__title {
    top: -2vw;
    left: 9vw;
    font-size: 5vw;
  }
}

.price__boxes {
  display: flex;
}

.price__box {
  position: relative;
  font-size: 4.2vw;
  top: 7vw;
  left: -1.5vw;
  width: 28vw;
  text-align: center;
}

@media (min-width: 992px) {
  .price__box {
    font-size: 3.5vw;
    top: 6vw;
    left: -10vw;
    width: 25vw;
  }
}

@media (min-width: 1440px) {
  .price__box {
    font-size: 2.5vw;
    top: 6vw;
    left: -8.5vw;
    width: 19vw;
  }
}

.price__box-icon {
  position: absolute;
  width: 25vw;
  top: 0vw;
  left: 1vw;
  z-index: -1;
}

@media (min-width: 992px) {
  .price__box-icon {
    width: 22vw;
  }
}

@media (min-width: 1440px) {
  .price__box-icon {
    width: 17vw;
  }
}

.contact {
  background-image: url("/img/sand-tile.png");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 992px) {
  .contact {
    justify-content: flex-start;
  }
}

.contact__title {
  font-size: 10vw;
  font-family: "Philosopher", sans-serif;
  color: #3A2E20;
  margin-bottom: 4vw;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .contact__title {
    font-size: 8vw;
    margin-bottom: 1vw;
  }
}

@media (min-width: 992px) {
  .contact__title {
    font-size: 8vw;
    width: 100vw;
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .contact__title {
    font-size: 5vw;
  }
}

@media (min-width: 992px) {
  .contact__boxes {
    width: 49vw;
    padding-left: 14vw;
    padding-top: 1.8vw;
  }
}

.contact__box {
  display: flex;
  align-items: center;
}

.contact__link {
  font-size: 7vw;
  text-decoration: none;
  color: #3A2E20;
  cursor: pointer;
}

@media (min-width: 768px) {
  .contact__link {
    font-size: 6vw;
  }
}

@media (min-width: 992px) {
  .contact__link {
    font-size: 4vw;
  }
}

@media (min-width: 992px) {
  .contact__link {
    font-size: 3vw;
  }
}

.contact__icon {
  font-size: 15vw;
  margin: 2vw 4vw 0vw 0;
  color: #3A2E20;
}

@media (min-width: 768px) {
  .contact__icon {
    font-size: 12vw;
    margin: 1vw 4vw 0vw 0;
  }
}

@media (min-width: 992px) {
  .contact__icon {
    font-size: 9vw;
    margin: 1vw 3vw 0vw 0;
  }
}

@media (min-width: 992px) {
  .contact__icon {
    font-size: 6vw;
    margin: 0vw 2vw 0vw 0;
  }
}

@media (min-width: 992px) {
  .contact__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 49vw;
  }
}

.contact__button {
  text-align: center;
}

.contact__app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contact__app-info {
  font-weight: bold;
  color: #3A2E20;
}

@media (min-width: 768px) {
  .contact__app-info {
    font-size: 4vw;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .contact__app-info {
    font-size: 2.5vw;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .contact__app-info {
    font-size: 1.5vw;
  }
}

.contact__app-google {
  position: relative;
  top: 0;
  left: -4vw;
  width: 40vw;
}

@media (min-width: 992px) {
  .contact__app-google {
    width: 17vw;
    left: -1vw;
  }
}

@media (min-width: 1440px) {
  .contact__app-google {
    width: 12vw;
  }
}

.contact__app-apple {
  width: 35vw;
}

@media (min-width: 992px) {
  .contact__app-apple {
    width: 15vw;
  }
}

@media (min-width: 1440px) {
  .contact__app-apple {
    width: 10vw;
  }
}

.contact__footer {
  border-top: 2px solid #3A2E20;
  width: 100%;
  text-align: center;
  padding-top: 3vw;
  margin-bottom: 3vw;
  color: #3A2E20;
}

@media (min-width: 768px) {
  .contact__footer {
    font-size: 3vw;
  }
}

@media (min-width: 1440px) {
  .contact__footer {
    font-size: 1vw;
    padding-top: 1vw;
    margin-bottom: 1vw;
  }
}
/*# sourceMappingURL=main.css.map */